@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham.woff2') format('woff2'),
       url('../fonts/gotham.woff') format('woff'),
       url('../fonts/gotham.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamNormal';
  src: url('../fonts/gothamNormal.woff2') format('woff2'),
       url('../fonts/gothamNormal.woff') format('woff'),
       url('../fonts/gothamNormal.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/gothamMedium.woff2') format('woff2'),
       url('../fonts/gothamMedium.woff') format('woff'),
       url('../fonts/gothamMedium.ttf') format('truetype');
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body  * {
  box-sizing: border-box;
}

:root {
  --animate-duration: 400ms;
}

input:focus, textarea:focus, select:focus, button:focus, img:focus {
  outline: none;
}

.wideShowcase {
  width: 100%;
  position: relative;
  height: 40vh;
  margin-top: 150px;
  max-height: 400px;
}

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.mainText {
  color: white;
  font-size: 32px;
  z-index: 2;
}

.textCenter {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
}

input,
textarea,
button,
select,
label,
img,
.contTitle,
.categoryImg,
.trans,
a {
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}

.clear {
  clear: both;
}

.hrStyle {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#ms {
  margin-top: 0;
}

.dynamicShowcase > a {
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
  width: 220px;
}

.seeMore {
  margin-left: 10px;
  margin-top: 1px;
  cursor: pointer;
  opacity: 0.8;
}

.seeMore:hover {
  opacity: 1;
}

#stlCont {
  border: 2px solid #dfdfdf;
  border-radius: 30px;
  height: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.04);
  background-color: #4e4e4e;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 3;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
  font-family: 'GothamMedium', 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

select:hover {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1), 0 0px 2px rgba(0, 0, 0, 0.2);
}

.delivered {
  color: #0eaf0e;
}

.exitPwa {
  position: absolute;
  right: 22px;
  border: 10;
  bottom: 22px;
  cursor: pointer;
  opacity: 0.8;
}

#billingForm > input:last-child {
  margin-right: 10px;
}

#view3D {
  cursor: pointer;
}

.litImg {
  width: calc(50% - 10px);
}

#stlLoader {
  position: relative;
  left: calc(50% - 14px);
  width: 28px;
  top: calc(50% - 14px);
}

.specsHS {
  height: 0;
  opacity: 0;
}

.specsHS, .descHS {
  overflow: hidden;
}

.descHS {
  line-height: 1.4;
}

.trans {
  transition: all ease-in-out 0.3s
}

.arrows {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.arrows:hover {
  opacity: 1;
}

.arrows > img {
  width: 25px;
}

.cbCont {
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
}

.catBox {
  max-width: none;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  max-width: calc(100% - 120px);
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.catBox::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.scat {
  transition: 0.3s;
}

.catBox > div {
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  color: #545454;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  flex-shrink: 0;
}

.catBox > div:first-child {
  margin-left: 0;
}

.catBox > div:hover {
  background-color: #fbfbfb !important;
}

.inProgress {
  color: #d68a00;
}

.topRight {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  cursor: pointer;
  opacity: 0.7;
}

.topRight:hover {
  opacity: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: opacity 0.5s ease-in-out;
}

.exitBtn {
  position: fixed;
  width: 20px;
  height: 20px;
  z-index: 5;
  display: none;
  cursor: pointer;
  opacity: 0.8;
}

.exitBtn:hover, .exitPwa:hover {
  opacity: 1;
}

.item3DViewer {
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #999;
  z-index: 4;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: opacity 0.5s ease-in-out;
}

.emptyCart {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.colorPick {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  cursor: pointer;
  margin-right: 20px;
  transition: all ease-in-out 0.3s;
}

.colorPick:last-child {
  margin-right: 0;
}

.itemContainer, .flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContainer > div {
  margin: 0 30px 0 30px;
}

.itemContainer > div > p {
  margin: 24px 0px 0px 0px;
}

#removeMargin {
  margin-top: 0;
}

.font24 {
  font-size: 24px;
}

.font22 {
  font-size: 22px;
}

.font18 {
  font-size: 18px;
}

.font14 {
  font-size: 14px;
}

.dgray {
  color: #999;
}

.ddgray {
  color: #676767;
}

.itemContainer > div > p > a {
  text-decoration: none;
  color: black;
}

.hoverItem, .hoverNavbar {
  background-color: #4285F4;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  display: none;
  margin-top: 1px;
}

.hoverItem {
  height: 3px;
  border-radius: 3px;
}

.cPrintDivs {
  width: 50%;
  height: 80vh;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.rightDiv {
  background-color: #f4f4f4;
  border-radius: 0 30px 30px 0;
  border-top: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}

.ddFile > div > div:nth-child(2) {
  padding-right: 20px;
}

.ddFile > div > div > img {
  margin-right: 10px;
}

.ddFile > div {
  width: 80%;
  justify-content: left;
  text-align: left;
  margin-bottom: 10px;
}

.styleHolder {
  box-shadow: 0 -7px 7px -10px rgba(0, 0, 0, 0.12), 0 7px 20px -8px rgba(0, 0, 0, 0.12); 
}

.leftDiv {
  border-radius: 30px 0 0 30px;
  border: 2px solid #f4f4f4;
}

.mainShowcase > div {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.ordersSoFar > div > p {
  margin: 7px 0 7px 0;
}

.bgCommon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.productItem {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.priceShow {
  width: 100%;
  height: 60px; 
  display: none;
  background-color: rgba(255, 255, 255, 0.63);
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 30px 30px;
  color: #000;
}

.priceShow > p {
  text-align: center;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}

footer {
  padding: 20px;
  width: 100%;
  color: #171717;
  background-color: #f4f4f4;
  margin-top: 30px;
  flex: 1;
  border-top: 2px solid #efefef;
}

footer > div {
  display: flex;
  float: left;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
  text-align: center;
}

.gothamMedium {
  font-family: 'GothamMedium', 'Roboto', sans-serif;
}

.copyright {
  color: #7d7d7d;
}

footer > div > b {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: 'Gotham';
}

footer > p {
  display: inline-block;
  width: 100%;
}

footer > div a, footer > p {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #171717;
  transition: all ease-in-out 0.1s;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
}

footer > div a:hover {
  color: #4285F4; 
}

.cookieAccept, .installPrompt {
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: white;
  bottom: 0;
  z-index: 2;
  padding: 10px;
  border-top: 1px solid #dfdfdf;
  box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.installPrompt {
  display: none;
}

.cookieAccept p {
  display: inline-block;
  margin-right: 20px;
}

.blueBtn {
  background-color: #4285F4;
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

.blueBtn:hover, .fillBtn:hover {
  background-color: #0f6aff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
}

.fillBtn:active {
  background-color: #71a7ff;
}

.itemContainer > div > p > a > img {
  width: 60px;
  height: 60px;
}

.keepBottom {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  width: 80%;
  margin-top: 90px;
  min-height: 500px;
  font-family: 'Roboto', sans-serif;
}

.align {
  text-align: center;
}

.centerBox {
  font-family: 'Roboto', sans-serif;
}

.leftAlignBox > *{
  float: left;
}

.itemImgContainer {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  cursor: pointer;
}

.prodName {
  color: #171a20;
  font-size: 38px;
  margin-top: 0;
  line-height: 1;
  font-family: 'Gotham', sans-serif;
  margin-bottom: 0;
}

.gothamNormal {
  font-family: 'GothamNormal', 'Roboto', sans-serif;
}

.font14 {
  font-size: 14px;
}

.gotham {
  font-family: 'Gotham', 'Roboto', sans-serif;
}

.qty {
  margin-top: 40px;
}

.itemPrice {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Gotham', sans-serif;
}

.itemInfo {
  margin-left: 20px;
  width: calc(60% - 20px);
}

#spec {
  font-size: 26px;
  color: #4285F4;
}

.clear {
  clear: both;
}

.specSelect, select {
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding: 15px;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 5px;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  color: #7b7b7b;
  transition: border ease-in-out 0.4s;
  transition: box-shadow ease-in-out 0.2s;
}

.note {
  font-size: 14px;
  line-height: 1.4;
}

.specBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.specBox > div {
  width: calc(33.333% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}


.specBox > div:nth-child(3n) {
  margin-right: 0;
}

.specBox > div > select{
  width: 100%;
}

.specBox > div:(:last-child) {
  padding-right: 0;
}

.specTitle {
  text-align: center;
}

.btnCommon {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Roboto';
}

.pad {
  padding: 10px 20px;
}

.centr {
  display: block;
  margin: 0 auto;
}

.contHolder {
  font-size: 18px;
  justify-content: center;
}

.contTitle {
  padding-right: 10%;
  cursor: pointer;
}

.contTitle:last-child {
  padding-right: 0;
  padding-left: 10%;
}

.broHolder {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bros {
  width: calc(33% - 10px);
  margin-right: 5px;
  font-weight: 500;
  padding: 10px;
}

.bros:last-child {
  margin-right: 0;
}

.fillBtn {
  background-color: #4285f4; 
  border: 0;
  color: white;
  line-height: 1.3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: 0.2s ease-in-out;
}

.sup {
  vertical-align: top; font-size: 0.7em;
}

#customProps {
  margin-top: 20px;  
  font-weight: 500;
}

#customProps > div:not(:last-child) {
  margin-right: 20px;
}

#customProps > div > p {
  text-align: center;
}

.borderBtn:hover {
  border-color: #3f80e8;
}

.borderBtn {
  border: 2px solid #4285F4;
  background-color: #fff;
  color: #000;
}

.blueLink, .bld {
  text-align: center;
  font-size: 18px;
  color: #4285F4;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  border-bottom: 2px solid transparent;
  border-radius: 1px;
}

.dul {
  list-style: none;
}

ul li::before {
  content: "\2022";  
  color: #999; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.bld {
  font-size: 16px;
}

.galleria{
  width: 40%;
}

.galleria-bar {
  display: none;
}

.galleria-stage {
  border-radius: 30px;
}

.galleria-theme-twelve .galleria-stage {
  background: white;
}

.galleria-image {
  border-radius: 30px;
}

.blueLink:hover, .bld:hover {
  border-color: #4285f4;
}

.errorBox, .successBox, .infoBox {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 20px;
  text-align: center;
}

.infoBox {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.successBox {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.errorBox > p, .successBox > p, .infoBox > p {
  padding: 10px;
}

.cartImgHolder, .orderImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  border: 2px solid #dfdfdf;
  transition: all ease-in-out 0.3s;
}

.orderImg {
  width: 70px;
  height: 70px;
}

.cartImgHolder:hover, .orderImg:hover, .colorPick:hover {
  border: 2px solid #4285F4 !important;
}

.cartItemHolder {
  width: 100%;
  position: relative;
  padding: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  margin-bottom: 20px;
}

.prodInfo {
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  float: right;
}

.font16 {
  font-size: 16px;
}

.lh {
  line-height: 1.4;
}

.prodInfo > div {
  padding: 0 10px 0 10px;
}

.bold {
  font-weight: 500;
}

.linkTitle {
  cursor: pointer;
  color: #4285f4;
  text-decoration: none;
  font-family: 'Gotham', 'Roboto', sans-serif;
}

.centerBtn {
  display: block;
  margin: auto;
}

.chItem {
  margin-top: 0;
  padding: 10px;
}

.itemLeftCenter {
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
  border-right: 1px solid #dfdfdf;
}

.grayHead {
  font-size: 18px;
  color: #999;
}

.suggItem, .newProds {
  width: 100px;
  height: 100px;
  float: none;
  cursor: pointer;
  margin: 10px;
}

.newProds {
  width: 140px;
  height: 140px;
}

.searchBox, .glsSearchInput {
  display: block;
  width: calc(100% - 60px);
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  padding: 15px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.04);
  float: left;
  transition: 0.3s;
}

.glsSearchInput {
  float: none;
  width: 100%;
  padding: 10px;
  color: #545454;
  margin-bottom: 10px;
}

.searchBox:focus, .glsSearchInput:focus {
  border: 1px solid #ccc;
}

.categoryImg {
  margin-top: 3.5px;
  float: right;
  cursor: pointer;
  height: 43px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgb(243, 243, 243);
  transition: 0.3s;
}

.categoryImg > img {
  height: 30px;
}

.categoryImg:hover {
  background-color: #ececec;
}

.topHolder {
  margin: 0 auto;
  margin-top: 60px;
  background-color: white;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  left: 50%;
  padding: 20px 20px 10px 20px;
  transform: translate(-50%, 0);
  z-index: 2;
}

.topShrink {
  max-width: 1000px;
  margin: 0 auto;
}

.bgShowcase {
  background-image: url('../images/mainShowcase.png');
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  border-radius: 30px;
  position: relative;
} 

.topInner {
  width: 60%;
  margin: 0 auto;
}

.mainTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  font-family: 'Gotham', 'Roboto', sans-serif;
}

.blueHead {
  color: #4285f4;
  font-size: 18px;
  font-family: 'Gotham', 'Roboto', sans-serif;
  margin-bottom: 5px;
}  

.shiftRight {
  margin-left: 20px; 
  margin-top: 0;
  margin-bottom: 30px;
}

.hideSeek {
  display: none;
}

.formField, .dFormField, .bFormField {
  width: 100%;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
  color: #676767;
  font-family: 'GothamNormal', 'Roboto', sans-serif;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  transition: all ease-in-out 0.3s;
}

.formField:focus, .dFormField:focus, .bFormField:focus {
  border: 1px solid #d0d1d2;
}

.specSelect:focus {
  border: 1px solid #d0d1d2;
}

.bFormField {
  width: calc(50% - 10px);
  margin-right: 10px;
}

.dFormField {
  width: calc(33% - 10px);
  margin-bottom: 10px;
}

.dFormField:not(:last-child) {
  margin-right: 10px;
}

.formContainer {
  width: 50%;
  margin: 0 auto;
}

.formContainer > button {
  display: block;
  margin: 0 auto;
}

.formContainer > p {
  font-size: 14px;
}

.formContainer a {
  text-decoration: none;
  color: #4285f4;
}

.blue {
  color: #4285f4;
}

.loadImg {
  text-align: center;
}

.loadImg > img{
  height: 30px;
  margin-bottom: 10px;
}

.oflow {
  width: 90%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.litImg {
  width: 50%;
  height: 350px;
}

/*
  Responsive
*/

@media only screen and (max-width: 1000px) {
  .itemContainer > div {
    margin: 0 25px 0 25px;
  }
  
  .bgShowcase, .darken {
    border-radius: 0;
  }

  .litImg {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .itemContainer, header {
    height: 50px;
    align-items: center;
  }

  .wideShowcase {
    margin-top: 110px;
    height: 33vh;
  }

  .mainText {
    font-size: 28px;
  }

  .styleHolder {
    flex-direction: column;
  }

  #cprintHolder {
    display: block;
  } 

  .cPrintDivs {
    width: 100%;
  }

  .leftDiv {
    border-top: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    border-radius: 30px 30px 0 0;
  }

  .rightDiv {
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 7px 7px -10px rgba(0, 0, 0, 0.12), 0 7px 20px -8px rgba(0, 0, 0, 0.12);
  }

  .cPrintDivs {
    height: calc(50vh - 45px);
  }

  .ddFile > div {
    width: 100%;
  }

  .priceShow {
    display: none;
  }

  #customProps > div > p {
    margin: 10px;
  }

  .quantity.buttons_added {
    display: block;
    text-align: center;
  }

  .quantity.buttons_added .minus {
    padding-left: 11px;
  }

  .prodName {
    font-size: 30px;
  }

  .qty {
    margin-top: 20px;
  }

  .prodName {
    margin-bottom: 10px;
  }

  .mainTitle {
    font-size: 26px;
  }

  .formContainer {
    width: 100%;
  }

  .itemLeftCenter {
    width: 100%;
    border-right: none;
    position: static;
    border-bottom: 1px solid #dfdfdf;
  }

  .itemLeftCenter > a{
    display: block;
    margin: 0 auto;
  }

  .prodInfo {
    width: 100%;
  }

  .itemInfo {
    margin-left: 0; 
    width: 100%;
  }

  .itemInfo > p:nth-child(2), .itemInfo > p:nth-child(3), .itemInfo > p:nth-child(4),
    .itemInfo > p:nth-child(5) {
    text-align: center;
  }

  .leftAlignBox > *{
    float: none;
  }

  .galleria {
    width: 70%;
    margin: 0 auto;
  }
 
  .hideSeek > a > img {
    margin-top: 13px;
  }

  .itemContainer > div > p {
    margin-top: 0;
  }

  #removeMargin > a > img {
    height: 50px;
    width: 50px;
  }

  .itemContainer > div > p > a > img {
    height: 25px;
    width: 25px;
  }

  .itemContainer > div {
    margin: 0;
    height: 50px;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
  }

  .keepBottom {
    margin-top: 70px;
    width: 80%;
  }

  .dynamicShowcase > a {
    width: 50%;
  }

  .dynamicShowcase > a > div {
    width: calc(100% - 10px);  
    margin: 5px auto;
  }

  .searchBox {
    padding: 10px;
  }

  .topHolder {
    margin-top: 49.3px;
    padding: 10px 0 10px 0;
  }

  .topShrink {
    width: 90%;
  }

  .categoryImg {
    height: 41px;
    margin-top: -1px;
  }

  .categoryImg > img {
    height: 28px;
  }

  .hideText {
    display: none;
  }

  .hideSeek {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .productItem {
    height: 260px;
  }
}

@media only screen and (max-width: 600px) {
  .productItem {
    height: 220px;
  }
}

@media only screen and (max-width: 768px) {
  .topInner {
    width: 100%;
  }

  header > div {
    width: 80%;
    margin: 0 auto;
  }
  
  .galleria {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .arrows {
    display: none;
  }

  header > div {
    width: 100%;
    margin: 0 auto;
  }

  .cbCont {
    width: calc(110% - 4px);
    margin-left: calc(-5% + 2px);
  }

  .dynamicShowcase > a:nth-child(2n) {
    padding-right: 0;
  }

  #billingForm > input:last-child {
    margin-right: 0;
  }

  .productItem {
    height: 170px;
  }

  .catBox {
    width: 100%;
    margin: 0;
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  #customProps > div:not(:last-child) {
    margin-right: 0;
  }

  .bros {
    width: calc(33% - 3px);
  }

  #catBox {
    justify-content: normal;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 10px 0 0 0;
  }

  #catBox > div:first-child {
    margin-left: 0;
  }

  #catBox > div:last-child {
    margin-right: 0;
  }

  .scat {
    display: flex;
    align-items: center;
  }

  .suggItem {
    width: 80px;
    height: 80px;
  }

  .newProds {
    width: 90px;
    height: 90px;
    margin: 3px;
  }

  /*
    Hide the 4th item in the 'newest items' section because otherwise it would look bad
  */
  .newProds:nth-child(4) {
    display: none;
  }

  .catBox > div {
    margin: 5px;  
  }

  .categoryImg:hover {
    background-color: white;
  }

  .dFormField {
    width: calc(50% - 5px);
  }

  .dFormField:not(:last-child) {
    margin-right: 0;
  }

  .dFormField:not(:nth-child(2n)) {
    margin-right: 5px;
  }

  .dFormField:last-child {
    margin-right: 0;
  }

  .cookieAccept p {
    margin-right: 0;
  }

  footer > div {
    width: 50%;
  }

  footer > div:nth-child(3) {
    width: 100%;
    margin-top: 20px;
  }

  .keepBottom {
    width: 90%;
  }

  .galleria {
    width: 100%;
  }

  .specBox > div, .specBox > div:nth-child(3n) {
    margin-right: 20px;
    width: calc(50% - 20px);
  }

  .specBox > div:nth-child(2n) {
    margin-right: 0;
  }

  .dynamicShowcase > a > div {
    width: 100%;
    margin: 0;
  }

  .dynamicShowcase > a {
    padding: 0 5px 30px 0;
  }

  .dynamicShowcase > a:nth-child(2n) {
    padding-right: 0;
  }

  .litImg {
    width: 100%;
    height: 260px;
  }
}
